@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo </h1>
    <h1 class="display-4">Charlinhos O Menino Que só queria estudar</h1>
    
</div>
